*{
    box-sizing: border-box;
}

form{
    margin: 20px;
}

form > input{
    height: 30px;
    width: 250px;
}

.tarefas{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tarefa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
}

.tarefa > button{
    height: fit-content;
}